* {
  font-family: 'Kalam', cursive;
}

html, body {
  min-height: 100vh;
}

body {
  background-color: #F8EDEB;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fec5bb' fill-opacity='0.49'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: 0px;
}

h1, .main-title {
  font-family: 'Mogra', cursive;
}

.main-title {
  font-size: 3rem;
  margin-top: 5%;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

/* NAV BAR */

.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: center;
}

#user-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

#search-input, #search-saved {
  height: fit-content;
  align-self: center;
  border: none;
  background: #FFD7BA;
  border-radius: 15px;
  width: 50%;
  text-align: center;
  padding: 5px;
  box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.22);
}

figure {
  position: relative;
  display: inline-block;
  margin: 0;
}

#user {
  width: 100px;
  height: 100px;
}

#user-initials {
  padding: 5%;
  border: 8px solid #D8E2DC;
  border-radius: 50%;
  color: #FEC89A;
  background-color: #F8EDEB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32%;
  margin: 2%;
  box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.2);
}

.initials {
  margin: 0;
  font-size: 2.125rem;
}

#search-btn {
  width: 80px;
  height: 50px;
  border: none;
  padding: 0px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: #F8EDEB;
  border-radius: 20px 20px 20px 0px;
  background-image: url(images/search.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-pages {
  display: flex;
  align-items: flex-end;
  margin: 20px;
}

#home-icon {
  width: 140px;
  height: 140px;
  margin: 10px 20px 10px 10px;
  border-radius: 30px;
  background-color: #FEC5BB;
  background-image: url('images/chef.png');
  background-size: cover;
  box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.22);
}

.nav-btn {
  width: 160px;
  height: 40px;
  font-size: 20px;
  border: none;
  color:black;
  background-color: #FEC5BB;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.22);
}

.nav-btn:hover, .nav-btn:focus, .dropdown-categories button:hover, .dropdown-categories button:focus, .delete:hover, .delete:focus, .saved-dropdown-categories button:hover, .saved-dropdown-categories button:focus {
  cursor: pointer;
  transform: scale(1.1);
  transition: .2s ease;
}

#home-icon:hover, .home-banner:hover, #search-btn:hover, .recipe-box:hover {
  cursor: pointer;
  opacity: 80%;
  transition: .2s ease;
}

#home-icon:hover, #home-icon:focus {
  background-color: #f8bfb5;
}

.category-position {
  position: relative;
}

.dropdown-categories, .saved-dropdown-categories {
  position: absolute;
  border-radius: 10px;
  top: 3.5rem;
  left: 10px;
  background-color: rgb(254, 197, 187);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  font-size: 1.3rem;
  z-index: 1;
  width: 125px;
  margin: 10px 0;
  padding: 10px 0 10px 25px;
}

.dropdown-categories:after,
.saved-dropdown-categories:after 
 {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px; 
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  transform: rotate(45deg);
  margin-bottom: -8px;
  background-color: rgb(254, 197, 187);
}

.dropdown-categories button,
.saved-dropdown-categories button {
  margin: 0;
  padding: 0;
  text-align: left;
  display: block;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}

.category-position:hover .dropdown-categories,
.category-position:focus-within .dropdown-categories,
.category-position:hover .saved-dropdown-categories,
.category-position:focus-within .saved-dropdown-categories {
  visibility: visible;
  opacity: 1;
}

/* HOME VIEW */

.home-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
  height: 50dvh;
  margin-top: 5px;
  margin-bottom: 5px;
}

.home-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recipe-of-the-day {
  height: 370px;
  border-radius: 40px;
  box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.25);
}

.featured {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

#featured-recipes {
  width: 100vw;
  height: auto;
  border-top: 6px solid #FCD5CE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d8e2dc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%23e8e8e4' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
}

/* SEARCH VIEW */

#search-results-view, .recipe-results-header, #saved-view, .whole-recipe-box {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.recipe-results, #recipes-to-cook, #all-recipes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2% 13% 6% 13%;
}

.recipe-box {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.recipe-box > img {
  border-radius: 10px;
  height: 20vh;
  width: fit-content;
  box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.25);
}

.recipe-box > figcaption {
  position: absolute;
  bottom: 0;
  background-color: #ffe5d9e6;
  border-radius: 20px;
  color: #000000;
  padding: 10px 15px;
  width: auto;
  font-size: 14px;
}

/* RECIPE VIEW */

.recipe-name {
  align-self: center;
  font-size: 2.25rem;
}

.recipe-view {
  align-self: center;
  width: 60%;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 2em;
  border-radius: 1em;
  background-color: #E8E8E4;
}

.add-to-saved {
 align-self: end;
 cursor: pointer;
 font-size: 3em;
 border: none;
 height: 40px;
 width: 40px;
 color: gray;
 background-color: #E8E8E4;
}

.recipe-info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.info-box {
  height: auto;
  width: 48%;
  border-radius: 1em;
}

.instructions-section {
  margin-top: 4em;
}

/* RECIPES TO COOK / SAVED RECIPES VIEW */

#saved-recipes-header {
  display: flex;
  text-align: center;
  width: fit-content;
}

#search-saved {
  width: 150px;
  margin: 10px;
}

.delete {
  background-color: #fec5bbf0;
  border: none;
  border-radius: 45%;
}

.whole-recipe-box {
  margin: 10px;
  background-color: #D8E2DC;
  border-radius: 20px;
  padding: 5px 25px 20px;
  box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.25);
}

.delete-btn {
  align-self: flex-end;
}

.hidden {
  display: none !important;
}

@media (max-width: 1600px) {
  .featured {
    margin-bottom: 5%;
  }
}

@media (max-width: 1300px){
  .featured {
    flex-wrap: wrap;
  }
  #user-search {
    flex-direction: column-reverse;
    min-width: 230px;
  }
  #search-btn {
    width: 50px;
    height: 40px;
  }
}

@media (max-width: 1180px){
  .nav-pages {
    flex-direction: column;
  }
  #user-input {
    width: 100%;
  }
  #user-initials {
    height: 15%;
  }
}

@media (max-width: 970px) {
  .recipe-box > img {
    height: 15vh;
  }
  #user-initials {
    height: 15%;
  }
  #user-search {
    min-width: 180px;
  }
}

@media(max-width: 670px) {
  .recipe-of-the-day {
    width: 85vw;
    height: auto;
  }
  #user-search {
    min-width: 130px;
  }
}

@media(max-width: 550px) {
  .nav-bar {
    flex-direction: column-reverse;
  }
  .main-title {
    order: 1;
  }
  .nav-pages {
    align-items: center;
  }
  #user-initials {
    height: 15%;
}
}