/* * { */
  /* border: solid red; */
  /* margin: 0; */
  /* padding: 0; */
/* } */

html, body {
  min-height: 100vh;
  /* min-width: 1200px; */
}

body {
  font-family: 'Kalam', cursive;
  background-color: #F8EDEB;
  margin: 0px;
}

h1 {
  font-family: 'Mogra', cursive;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* NAV BAR */

.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#user-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

#search-input, #search-saved {
  font-family: 'Kalam', cursive;
  height: fit-content;
  align-self: center;
  border: none;
  background: #FFD7BA;
  border-radius: 15px;
  width: 50%;
  text-align: center;
  padding: 5px;
  box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.22);
}

figure {
  position: relative;
  display: inline-block;
  margin: 0;
}

#user {
  width: 100px;
  height: 100px;
}

#user-initials {
  padding: 5%;
  border: 8px solid #D8E2DC;
  border-radius: 50%;
  color: #FEC89A;
  font-size: 40px;
  text-align: center;
  height: 32%;
  margin: 2%;
}

.initials {
  margin: 0;
}

#search-btn {
  width: 80px;
  height: 50px;
  border: none;
  padding: 0px;
  margin-top: 15px;
  margin-left: 15px;
  background: transparent;
  background-image: url(images/search.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-pages {
  display: flex;
  align-items: flex-end;
  margin: 20px;
}

#home-icon {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background-color: #FEC5BB;
  background-image: url('images/chef.png');
  background-size: cover;
  box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.22);
}

.nav-btn {
  width: 150px;
  height: 40px;
  font-size: 20px;
  border: none;
  color:black;
  background-color: #FEC5BB;
  margin: 10px;
  border-radius: 5px;
  font-family: 'Kalam', cursive;
  box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.22);
}

.nav-btn:hover, .dropdown-categories p:hover, .delete:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: .2s ease;
}

#home-icon:hover, .home-banner:hover, #search-btn:hover, .recipe-box:hover {
  cursor: pointer;
  opacity: 80%;
  transition: .2s ease;
}

.category-position {
  position: relative;
}

.dropdown-categories {
  position: absolute;
  border-radius: 10px;
  top: 3.5rem;
  left: 10px;
  background-color: rgb(254, 197, 187);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  font-size: 1.3rem;
  z-index: 1;
  width: 125px;
  margin: 10px 0;
  padding: 10px 0 10px 25px;
}

.dropdown-categories:after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px; 
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  transform: rotate(45deg);
  margin-bottom: -8px;
  background-color: rgb(254, 197, 187);
}

.dropdown-categories p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.category-position:hover .dropdown-categories, 
.category-position:focus-within .dropdown-categories{
  visibility: visible; 
  opacity: 1;
}

/* HOME VIEW */

.home-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
  height: 50dvh;
}

.home-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recipe-of-the-day {
  border-radius: 40px;
  box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.25);
}

.featured {
  display: flex;
  justify-content: space-around;
  width: 75%;
}

#featured-recipes {
  width: 100%;
  height: 30dvh;
  background-color: #D8E2DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* SEARCH VIEW */

#search-results-view, .recipe-results-header, #saved-view, .whole-recipe-box {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.recipe-results, #recipes-to-cook, #all-recipes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2% 13% 6% 13%;
}

.recipe-box {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.recipe-box > img {
  border-radius: 10px;
  height: 20vh;
  width: fit-content;
}

.recipe-box > figcaption {
  position: absolute;
  bottom: 0;
  background-color: #ffe5d9e6;
  border-radius: 20px;
  color: #000000;
  padding: 10px 15px;
  width: auto;
  font-size: 14px;
}

/* RECIPE VIEW */

.recipe-name {
  align-self: center;
}

.recipe-view {
  align-self: center;
  width: 60%;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 2em;
  border-radius: 1em;
  background-color: #E8E8E4;
}

.add-to-saved {
 align-self: end;
 cursor: pointer;
 font-size: 3em;
 border: none;
 height: 40px;
 width: 40px;
 color: gray;
 background-color: #E8E8E4;
}

.recipe-info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.info-box {
  height: auto;
  width: 48%;
  border-radius: 1em;
}

.instructions-section {
  margin-top: 4em;
}

/* RECIPES TO COOK / SAVED RECIPES VIEW */

#saved-recipes-header {
  display: flex;
  text-align: center;
  width: fit-content;
}

#search-saved {
  width: 150px;
  margin: 10px;
}

.delete {
  background-color: #fec5bbf0;
  border: none;
  border-radius: 45%;
}

.whole-recipe-box {
  margin: 10px;
  background-color: #D8E2DC;
  border-radius: 20px;
  padding: 5px 25px 20px;
}

.delete-btn {
  align-self: flex-end;
}

.hidden {
  display: none !important;
}